/GLEW_License.txt
/bin/
/client.sh
/data/fonts/
/data/ips.txt
/data/localization/
/data/music/
/data/plans/
/data/rgb.txt
/data/sfx/
/data/shaders/
/data/styles/
/data/textures/
/license.txt
/server.sh
